{% extends 'base.html' %}

{% block head_title %}
    Tweet page
{% endblock head_title %}


{% block content %}
    <h1>
        Welcome to tweet me!
    </h1>
<div id="tweets">
    Loading...
</div>

<script>
    const tweetsElement = document.getElementById("tweets");

    const xhr = new XMLHttpRequest();
    const method = "GET";
    const url = "/tweets";
    const responseType = "json";

    xhr.responseType = responseType;
    xhr.open(method, url);
    xhr.onload = function() {
        const serverResponse = xhr.response;
        var listedItems = serverResponse.response;
        let finalTweetStr = "";
        let i;

        for (i=0;i<listedItems.length;i++) {
            let currentItem = "<div class='mb-4'><h1>" + listedItems[i].id + "</h1>" +
                "<p>" + listedItems[i].content + "</p></div>"

            finalTweetStr += currentItem;
        }
        
        tweetsElement.innerHTML = finalTweetStr;
    }

    xhr.send();
</script>
{% endblock content %}